version: '3.7'
services:
  robot-app:
    image: registry.gitlab.com/tradingbot3941224/robotappv3:latest
    restart: always
    networks:
      - bot
    ports:
      - "127.0.0.1:7500:7500"
    environment:
      - SmtpSettings__Host=smtp.gmail.com
      - SmtpSettings__Port=587
      - SmtpSettings__EnableSsl=true
      - SmtpSettings__User=botbotProject@gmail.com
      - SmtpSettings__Password=${SMTP_PASSWORD}
      - SmtpSettings__DefaultEmail=lemery.joffrey@outlook.fr
      - MongoDb__ConnectionString=${MONGODB_CONNECTIONSTRING}
      - Seq__ApiKey=${SEQ_APIKEY}
      - NODE_ENV=production
      - API_URL=https://robot.botbot.fr/
      - ASPNETCORE_ENVIRONMENT=Production
networks:
  bot:
    external: true
